@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Backlogger</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/site.css" rel="stylesheet">

</head>

<body>
  @Html.Partial("Navbar")
  <div class="page-container">
    @if (User.Identity.IsAuthenticated)
    {
    <div class="sidebar">
      <a href="/">
        <div class="sidebar-item">
            <div class="row">
              <div class="col-3 text-muted">
                <i class="fad fa-home"></i>
              </div>
              <div class="col-9 white">
                Home
              </div>
            </div>
        </div>
      </a>
      <a href="/items?typeFilter=book">
        <div class="sidebar-item">
            <div class="row">
              <div class="col-3">
                <i class="fad fa-book"></i>
              </div>
              <div class="col-9 white">
                Books
              </div>
            </div>
        </div>
      </a>
      <a href="/items?typeFilter=game">
        <div class="sidebar-item">
          <div class="row">
            <div class="col-3 text-danger">
              <i class="fad fa-gamepad-alt mr-3"></i>
            </div>
            <div class="col-9 white">
              Games
            </div>
          </div>
        </div>
      </a>
      <a href="/items?typeFilter=movie">
        <div class="sidebar-item">
          <div class="row">
            <div class="col-3 text-warning">
              <i class="fad fa-film mr-3"></i>
            </div>
            <div class="col-9 white">
              Movies
            </div>
          </div>
        </div>
      </a>
      <a href="/items?typeFilter=tv">
        <div class="sidebar-item">
          <div class="row">
            <div class="col-3 text-info">
              <i class="fad fa-tv-retro mr-3"></i>
            </div>
            <div class="col-9 white">
              TV Shows
            </div>
          </div>
        </div>
      </a>
    </div>
    }
    <div class="main-window">
      @RenderBody()
    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/74e58ffcfd.js" crossorigin="anonymous"></script>

</body>

</html>