@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Party Squirrels</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
  </head>
  <body>
    @Html.Partial("Navbar")
    @RenderBody()
  </body>
</html>