<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Backlogger</a>
    <form class="form-inline mx-auto">
      <div class="input-group">
        <div class="input-group-prepend">
          <select class="form-control search-select">
            <option>Search Games</option>
            <option>Search Movies</option>
            <option>Search TV Shows</option>
          </select>
        </div>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </form>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
</nav>