<nav class="navbar navbar-expand-lg">
  <div class="navbar-brand" href="#">Backlogger</div>
    <form class="form-inline mx-auto">
      <div class="input-group">
        <div class="input-group-prepend">
          <select class="form-control search-select">
            <option>Search Games</i></option>
            <option>Search Movies</i></option>
            <option>Search TV</option>
          </select>
        </div>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
    @if (User.Identity.IsAuthenticated)
    {
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fad fa-user-circle mr-1"></i> @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fad fa-file-user mr-2"></i> Edit Account</a>
          @using (Html.BeginForm("LogOff", "Account"))
          {
            <a class="dropdown-item" href="#" onclick="this.parentNode.submit()"><i class="fad fa-sign-out-alt mr-2"></i> Log Out</a>
          }
        </div>
      </div>
    }
    else
    {
      <a class="mr-3" href="/account/register"><i class="fad fa-user-plus"></i> Create Account</a>
      <a href="/account/login"><i class="fad fa-sign-out-alt"></i> Login</a>
    }
    
</nav>