html {
  height: 100%
}

body {
  height: 100%;
  min-width: 800px
}

.main-window {
  background: rgb(65,54,73);
  background: linear-gradient(135deg, rgba(65,54,73,1) 0%, rgba(133,71,71,1) 50%, rgba(143,109,61,1) 100%);
  height: calc(100% - 70px);
}

.search-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}