@using Backlogger.ViewModels
@using Backlogger.ApiModels
@model ItemIndexPostViewModel

@{
  Layout = "_Layout";
}

@if (Model.TvSearch != null)
{
  foreach(TmdbTvSearchResult result in Model.TvSearch.Results)
  {
    @Html.Partial("TvSearchCard", result);
  }
}
@if (Model.GamesSearch != null)
{
  foreach(RawgSearchResult result in Model.GamesSearch.Results)
  {
    <p>@result.Name</p>
    <p>@result.Released</p>
    <hr />
  }
}
@if (Model.MovieSearch != null)
{
  foreach(TmdbMovieSearchResult result in Model.MovieSearch.Results)
  {
    @Html.Partial("MovieSearchCard", result);
  }
}